# API Configuration
VITE_API_BASE_URL=http://localhost:4000/api
VITE_DEMO_VENDOR_ID=507f1f77bcf86cd799439011
VITE_DEMO_CUSTOMER_ID=demo-customer

# Barikoi Map API Key
# Get your API key from https://developer.barikoi.com/
VITE_BARIKOI_API_KEY=bkoi_7320ae3afe9069973b45efc472aaab9284d0e5f27c1b894c22c71f6bc543a4c6